body {
    font-family: 'Roboto', sans-serif;
}

.bg-wrapper {
    height: 100vh;
    background-image:url('https://source.unsplash.com/category/nature/1920x1080');
    background-repeat: no-repeat;
    background-position: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-wrapper h1 {
    text-align: center;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: #fff;
    letter-spacing: -5px;
    font-size: 1125%;
    font-weight: 400;
}

h2, .greetings-text {
    font-size: 40px;
    letter-spacing: 0;
    white-space: nowrap;
    color: #fff;
    font-weight: 400;
}

.bg-wrapper h3 {
    font-size: 4vw;
}

.bg-wrapper h2 {
    /* font-size: 3vw; */
}

.bg-wrapper::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .35);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
}

.top-right {
    position: fixed;
    top: 2vh;
    right: 2vh;
}

.bottom-third {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block-text h1, h2 {
    display: inline;
}

.quote-text {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    color: rgba(255, 255, 255, .9);
    line-height: 30px;
    transition: all .35s ease;
    margin-bottom: 15px;
}

.weather {
    color: white;
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 1;
    margin: 0;
}

.clouds-flat-button {
    padding: 5px 25px;
    font-size: 14px;
    color: white;
    text-align: center;
    border: 0;
    border-bottom: 2px solid #dadedf;
    cursor: pointer;
}

.clouds-flat-button:hover {
    text-decoration: none;
    color: white;
}

.quote-author {
    font-size: 15px;
    color: white;
}

input.name-input {
    border-bottom: 1px solid white;
    background: none;
    padding: 8px;
    font-size: 24px;
    outline: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    top: -7px;
    position: relative;
}

div#someDiv {
    color: white;
    font-size: 40px;
}

.download-icon {
    width: 25px;
    position: relative;
    left: 25px;
    top: 2px;
}

.block-text {
    margin-bottom: 15px;
}

/* Landing Page */
.container-full {
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    background: url('http://www.desktopwallpaperhd.net/wallpapers/7/6/background-homepage-web-wood-opera-media-images-79414.jpg');
    color: #eee;
    overflow: hidden;
}

/* Preloader with Bootstrap Progress Bar
-----------------------------------------------*/
.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: url(&#39;https://6ed03b3e7ee716b29bc2dee79aafb8179ed53b19-www.googledrive.com/host/0B9VLbslO6g64UnFTUlQzWDVMdXM&#39;) 50% 50% no-repeat rgb(249, 249, 249);
}

.loader-container {
    width: 600px;
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

h5#location {
    font-weight: 400;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
}

[placeholder]:focus::-webkit-input-placeholder {
    opacity: 0;
}

input:focus {
    color: white
}

@media (max-width: 700px) {
    body{
        overflow: hidden;
    }
}