body{
    font-family: 'Roboto', sans-serif;
}
.bg-wrapper{
    height:100vh;
    background-repeat: no-repeat;
    background-position: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-wrapper h1{
    text-align: center;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: #fff;
    letter-spacing: -5px;
    font-size: 1125%;
    font-weight: 400;
}

h2{
    font-size: 337.5%;
    letter-spacing: 0;
    white-space: nowrap;
    color: #fff;
    font-weight: 400;
}

.bg-wrapper h3{
    font-size: 4vw;
}

.bg-wrapper h2{
    /* font-size: 3vw; */
}

.bg-wrapper::before{
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.35);
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-right {
    position:fixed;
    top: 2vh;
    right: 2vh;
}

.bottom-third {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block-text h1,h2{
    display:inline;
}

.quote{
    /* color: white; */
    /* font-size: 2vw; */
    /* letter-spacing: 1px; */
    /* line-height: 1; */
    /* margin:0; */
}

.quote-text{
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    color: rgba(255,255,255,.9);
    line-height: 30px;
    transition: all .35s ease;
    margin-bottom: 15px;
}

.weather{
    color: white;
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 1;
    margin:0;
}
.clouds-flat-button {
    top: 30px;
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 60px;
    padding: 5px 20px;
    font-size: 22px;
    color: #454545;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #ecf0f1;
    border: 0;
    border-bottom: 2px solid #dadedf;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #dadedf;
    box-shadow: inset 0 -2px #dadedf;
}
.clouds-flat-button:hover{
    text-decoration: none;
}
.quote-author{
    font-size: 15px;
    color: white;
}
input{
    border: 1px solid white;
    background: none;
    padding: 0;
    font-size: 24px;
    outline: 0;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-bottom: 5px;
    color: #fff;
}
div#someDiv {
    color: white;
    font-size: 40px;
}