body{
    font-family: 'Roboto', sans-serif;
}
.bg-wrapper{
    background-image:url('https://source.unsplash.com/category/nature/1920x1080');
    background-size:cover;
    height:100vh;
}

.bg-wrapper h1{
    text-align: center;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: #fff;
    letter-spacing: -5px;
    font-size: 1125%;
    font-weight: 400;
}

h2{
    font-size: 337.5%;
    letter-spacing: 0;
    white-space: nowrap;
    color: #fff;
    font-weight: 400;
}

.bg-wrapper h3{
    font-size: 4vw;
}

.bg-wrapper h2{
    /* font-size: 3vw; */
}

.bg-wrapper::before{
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.35);
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-right {
    position:fixed;
    top: 2vh;
    right: 2vh;
}

.bottom-third {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block-text h1,h2{
    display:inline;
}

.quote{
    color: white;
    font-size: 2vw;
    letter-spacing: 1px;
    line-height: 1;
    margin:0;
}

#quote-text{
    font-size: 110%;
    font-weight: 400;
    margin: 0;
    color: rgba(255,255,255,.9);
    line-height: 120%;
    transition: all .35s ease;
}

.weather{
    font-family: "Helvetica Neue";
    color: white;
    font-size: 3vw;
    letter-spacing: 1px;
    line-height: 1;
    margin:0;
}
